# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules (Dependencies)
node_modules/

# Firebase Credentials (VERY IMPORTANT)
service-account.json
firebase-service.json


# Environment Variables (Security)
.env
.env.local
.env.development
.env.production

# Build & Cache
dist/
dist-ssr/
.vite/
.vite/deps/
.vite-cache/

# Editor Directories & Files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Hosting Cache
.firebase/

# Temporary Files & OS-Specific Files
*.cache
*.bak
*.swp
Thumbs.db

# Secrets
*.service_account.json
*firebase*service*.json*
